@import "./../utils/variables";

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: $secondary-color;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
  font-family: "Source Sans Pro", sans-serif;
}

#backToTop {
  display: none;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  position: fixed;
  bottom: 90px;
  right: 15px;
  cursor: pointer;

  .arrow {
    font-size: 12px;
  }
  &::after {
    display: block;
    content: "-";
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 40%;
  }
}
